<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/highlight/default.css" />
    <title>JoushiFlow</title>
</head>
<body>
    <div id="form1"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const vm = new Vue({
            el: '#form1',
            data: {
                host: '',
                url: '',
                request1: '',
                request2: '',
                request3: '',
                info: '',
                dfres: null
            },
            methods: {
                call: function (event) {
                    this.url = 'https://' + this.host + '/joushi';
                    axios
                        .get(this.url, {
                            crossdomain: true
                        })
                        .then(response => {
                            this.dfres = response.data;
                            this.info = JSON.stringify(response, null, '  ');
                            this.request1 = this.url + '/req1/' + this.dfres.id;
                        });
                },
                approve1: function (event) {
                    axios
                        .get(this.request1, {
                            crossdomain: true
                        })
                        .then(response => {
                            this.request2 = this.url + '/req2/' + this.dfres.id;
                        });
                },
                approve2: function (event) {
                    axios
                        .get(this.request2, {
                            crossdomain: true
                        })
                        .then(response => {
                            this.request3 = this.url + '/req3/' + this.dfres.id;
                        });
                },
                approve3: function (event) {
                    axios
                        .get(this.request3, {
                            crossdomain: true
                        })
                        .then(response => {
                        });
                },
                getStatus: function (event) {
                    axios
                        .get(this.dfres.statusQueryGetUri, {
                            crossdomain: true
                        })
                        .then(response => {
                            this.info = JSON.stringify(response, null, '  ');
                        });
                }
            },
            template: `
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>JoushiFlow</h1>

            <form>
                <div class="form-group">
                    <label for="inputFunctionsHost">Azure Functions Host</label>
                    <input type="url" class="form-control" id="inputFunctionsHost" placeholder="Enter Azure Functions Host" v-model="host">
                </div>
            </form>
        </div>
    </div>

    <dl class="row mt-3">
        <dt class="col-10" v-if="host">
            <a v-bind:href="'https://' + host + '/joushi'" target="_blank">https://{{ host }}/joushi</a>
        </dt>
        <dd class="col-2" v-if="host">
            <span class="btn btn-primary" v-on:click="call">Call</span>
        </dd>
        <dt class="col-10 mt-3" v-if="request1">
            <a v-bind:href="request1" target="_blank">{{ request1 }}</a>
        </dt>
        <dd class="col-2 mt-3" v-if="request1">
            <span class="btn btn-primary" v-on:click="approve1">Approve1</span>
        </dd>
        <dt class="col-10 mt-3" v-if="request2">
            <a v-bind:href="request2" target="_blank">{{ request2 }}</a>
        </dt>
        <dd class="col-2 mt-3" v-if="request2">
            <span class="btn btn-primary" v-on:click="approve2">Approve2</span>
        </dd>
        <dt class="col-10 mt-3" v-if="request3">
            <a v-bind:href="request3" target="_blank">{{ request3 }}</a>
        </dt>
        <dd class="col-2 mt-3" v-if="request3">
            <span class="btn btn-primary" v-on:click="approve3">Approve3</span>
        </dd>
    </dl>

    <div class="row mt-3">
        <div class="col-12">
            <pre><code>{{ info }}</code></pre>
        </div>
    </div>
</div>
`
        });
    </script>
</body>
</html>